.PolicyContainer {
  width: 100%;
  background-color: #f6f0f1;
}

.SpinnerContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.Policy {
  width: var(--PolicyWidth);
  margin: 0 auto;
}

.h1Container {
  animation: fadein 1000ms ease-in-out
}

@keyframes fadein {
  from { 
    opacity: 0; 
    transform: translateX(50px);
  }
  to   { 
    opacity: 1;
    transform: translateX(0px); 
  }
}